header {
  background-color: #171d25;
  padding: 10px 20%;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 14px;
}

.flex {
  display: flex;
	
}

.flex.right {
  justify-content: flex-end;
}

.download-login span {
  padding: 12px;
  color: #b8b6b4;
}

.download-login span.split {
  padding: 0;
}

.download-login span:hover {
  color: #ffffff;
}

.download-login {
  font-size: 11px;
}


.download {
  background-color: #5C7E10;
  padding: 7px 18px 7px 24px;
  background-image: url(https://store.fastly.steamstatic.com/public/shared/images/header/btn_header_installsteam_download.png?v=1);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  color: #e5e4dc;
}

.download:hover {
  background-color: #83ac2b;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
}

body {
	margin: 0;
}

menu {
  color: #dcdedf;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

menu section {
  padding: 7px 5px 0;
  line-height: 1.5;
  font-size: 16px;
}

menu section.selected {
  color: #1a9fff;
  border-bottom: 3px solid #1a9fff;
}

menu section.selected:hover {
  color: #1a9fff;
}

menu section:hover {
  color: #ffffff;
}

menu .dropDown {
  position: absolute;
  box-shadow: 3px 3px 5px -3px #000;
  text-transform: none;
  text-align: left;
  font-size: 12px;
  color: #dcdedf;
  font-weight: normal;
}

menu .dropDown .item {
  padding: 8px 13px;
  background: #3D4450;
  color: #dcdedf;
}

menu .dropDown .item:hover {
  color: #3D4450;
  background: #dcdedf;
}

#Logo {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#Menu {
  width: 100%;
  margin: auto;
}

main {
  background: radial-gradient(circle, rgba(25,52,69,1) 18%, rgba(24,67,82,1) 46%, rgba(30,55,87,1) 78%, rgba(32,50,83,1) 99%);
  display: flex;
  padding: 20px 6%;
}

#gift-card-section div {
  margin: 3px 0;
  text-transform: uppercase;
  color: #88bde9;
  font-size: 14px;
  font-weight: bolder;
}

#gift-card-section div:hover {
  color: white;
}

#gift-card-section span {
  color: #a4b3c4;
  font-weight: 550;
  font-size: 12px;
}

#gift-card-section img {
  width: 80%;
}

#recently-viewed {
  background: radial-gradient(circle at 0%, rgba(83,111,134,0) 20%, rgba(83,111,134,0.25) 100%);
}

#left-sections {
  width: 15%;
  font-family: "Motiva Sans", Sans-serif;
}

.left-section .title {
  color: #536f86;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 10px;
}

.left-section {
  margin-top: 20px;
  padding: 15px 0;
}

.left-section div {
  color: #7A8B9D;
  font-size: 12px;
  font-weight: 550;
  margin-top: 4px;
}

.left-section div:hover {
  color: #54a5d4;
}