header {
  background-color: #171d25;
  padding: 10px 20%;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: normal;
  font-size: 14px;
}

.flex {
  display: flex;
	
}

.flex.right {
  justify-content: flex-end;
}

.download-login span {
  padding: 12px;
  color: #b8b6b4;
}

.download-login span.split {
  padding: 0;
}

.download-login span:hover {
  color: #ffffff;
}

.download-login {
  font-size: 11px;
}


.download {
  background-color: #5C7E10;
  padding: 7px 18px 7px 24px;
  background-image: url(https://store.fastly.steamstatic.com/public/shared/images/header/btn_header_installsteam_download.png?v=1);
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  color: #e5e4dc;
}

.download:hover {
  background-color: #83ac2b;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
}

body {
	margin: 0;
}

menu {
  color: #dcdedf;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

menu section {
  padding: 7px 5px 0;
  line-height: 1.5;
  font-size: 16px;
}

menu section.selected {
  color: #1a9fff;
  border-bottom: 3px solid #1a9fff;
}

menu section.selected:hover {
  color: #1a9fff;
}

menu section:hover {
  color: #ffffff;
}

menu .dropDown {
  position: absolute;
  box-shadow: 3px 3px 5px -3px #000;
  text-transform: none;
  text-align: left;
  font-size: 12px;
  color: #dcdedf;
  font-weight: normal;
}

menu .dropDown .item {
  padding: 8px 13px;
  background: #3D4450;
  color: #dcdedf;
}

menu .dropDown .item:hover {
  color: #3D4450;
  background: #dcdedf;
}

#Logo {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#Menu {
  width: 100%;
  margin: auto;
}

main {
  background: radial-gradient(circle, rgba(25,52,69,1) 18%, rgba(24,67,82,1) 46%, rgba(30,55,87,1) 78%, rgba(32,50,83,1) 99%);
  display: flex;
  padding: 20px 2%;
  font-family: "Motiva Sans", Sans-serif;
}

#gift-card-section div {
  margin: 3px 0;
  text-transform: uppercase;
  color: #88bde9;
  font-size: 14px;
  font-weight: bolder;
}

#gift-card-section div:hover {
  color: white;
}

#gift-card-section span {
  color: #a4b3c4;
  font-weight: 550;
  font-size: 12px;
}

#gift-card-section img {
  width: 80%;
}

#recently-viewed {
  background: radial-gradient(circle at 0%, rgba(83,111,134,0) 20%, rgba(83,111,134,0.25) 100%);
}

#left-sections {
  width: 15%;
}

.left-section .title {
  color: #536f86;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 10px;
}

.left-section {
  margin-top: 20px;
  padding: 15px 0;
}

.left-section div {
  color: #7A8B9D;
  font-size: 12px;
  font-weight: 550;
  margin-top: 4px;
}

.left-section div:hover {
  color: #54a5d4;
}

#main-section {
  width: 70%;
  margin-left: 60px;
}

#main-menu {
  margin-top: 20px;
  display: flex;
  background: linear-gradient(90deg, rgba(62, 103, 150, 0.919) 11.38%, rgba(58, 120, 177, 0.8) 25.23%, rgb(15, 33, 110) 100%);
}

#main-menu > div:hover {
  background: linear-gradient(90deg, #245FA3 60%, rgba(58, 120, 177, 0.8) 100%);
}

#main-menu > div {
  color: #e5e5e5;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 15px;
}

#main-menu > div.small-padding {
  padding: 3px;
}

input.search-input {
  padding: 2px 10px;
  border: none;
  height: 18;
  background-color: transparent;
}

input.search-input::placeholder {
  font-style: italic;
  color: #0e1c25;
  font-weight: lighter;
}

.filler {
  flex-grow: 1;
}

#main-menu div.no-hover-background:hover {
  background: unset;
}

#main-menu .search-container {
  padding: 3px;
  display: flex;
  background-color: #316282;
  border-radius: 3px;
}

.main-content > div.title {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin: 30px 0px 10px;
  letter-spacing: 0.03em;
  font-weight: normal;
  padding-top: 2px;
}

.main-content {
  width: 100%;
}

.sliding-panel .panels {
  display: flex;
}

.highlighted-game {
  display: flex;
  background-color: #0e1821;
  color: #ffffff;
}

.highlighted-game .screenshots {
  display: flex;
  flex-wrap: wrap;
}

.highlighted-game .screenshots > div {
  width: 45%;
  padding: 3px;
}

.highlighted-game .title {
  margin: 20px 10px;
  font-size: 24px;
}

.highlighted-game .status {
  margin: 10px;
  font-size: 21px;
}

.highlighted-game > div {
  padding-right: 5px;
}

.highlighted-game .tag {
  font-size: 12px;
  background-color: #394148;
  margin-left: 10px;
  width: 50px;
  padding: 3px;
  border-radius: 3px;
}

.highlighted-game .price {
  font-size: 11px;
  margin: 10px;
}

.sliding-panel .slide-left-button {
  background: linear-gradient( to right, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%);
  height: 100px;
  padding: 10px;
  align-self: center;
}

.sliding-panel .slide-left-button:hover {
  background: linear-gradient( to right, rgba( 171, 218, 244, 0.3) 5%,rgba( 171, 218, 244, 0) 95%);
}

.sliding-panel .slide-left-button > div {
  background-image: url(https://store.fastly.steamstatic.com/public/images/v6/arrows.png);
  background-repeat: no-repeat;
  background-position-x: -23px;
  width: 23px;
  height: 100px;
  background-position-y: center;
} 

.sliding-panel .slide-right-button {
  background: linear-gradient( to left, rgba( 0, 0, 0, 0.3) 5%,rgba( 0, 0, 0, 0) 95%);
  align-self: center;
  height: 100px;
  padding: 10px
}

.sliding-panel .slide-right-button:hover {
  background: linear-gradient( to left, rgba( 171, 218, 244, 0.3) 5%,rgba( 171, 218, 244, 0) 95%);
}

.sliding-panel .slide-right-button > div {
  background-image: url(https://store.fastly.steamstatic.com/public/images/v6/arrows.png);
  background-repeat: no-repeat;
  background-position-x: 0;
  width: 23px;
  height: 100px;
  background-position-y: center;
}